@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Client
@inject IScopeProvider ScopeProvider
@{var storeId=ScopeProvider.GetCurrentStoreId();}
@if(!string.IsNullOrEmpty(storeId)){<li class="nav-item"><a permission="@Policies.CanModifyStoreSettings" layout-menu-item="EventTickets" asp-controller="EventTicketsAdmin" asp-action="Index" asp-route-storeId="@storeId"><span>Event Tickets</span></a></li>}
